.main-wrapper {
    width: 400px;
    height: 230px;
}

#option {
    margin-left: 40%;
}

.instructin {
    color: red;
    text-align: center;
    display: none;
    font-size: 18px;
    font-weight: 700;
}

#position_setting_label {
    padding-right: 23px;
}